%h1 Listing lessons

%table
  %tr
    %th Title
    %th Summary
    %th Group
    %th Order no
    %th External url
    %th Type
    %th Provider name
    %th Favicon url
    %th Description
    %th Thumbnail
    %th
    %th
    %th

  - @lessons.each do |lesson|
    %tr
      %td= lesson.title
      %td= lesson.summary
      %td= lesson.group_id
      %td= lesson.order_no
      %td= lesson.external_url
      %td= lesson.type
      %td= lesson.provider_name
      %td= lesson.favicon_url
      %td= lesson.description
      %td= lesson.thumbnail
      %td= link_to 'Show', lesson
      %td= link_to 'Edit', edit_lesson_path(lesson)
      %td= link_to 'Destroy', lesson, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lesson', new_lesson_path
