%p#notice= notice

%p
  %b Title:
  = @lesson.title
%p
  %b Summary:
  = @lesson.summary
%p
  %b Group:
  = @lesson.group_id
%p
  %b Order no:
  = @lesson.order_no

= link_to 'Edit', edit_lesson_path(@lesson)
\|
= link_to 'Back', lessons_path
